# Until the legal situation regarding the personal data in this directory has become clearer,
# we should not make it public, even though we hope we will be able to.
/Data

# These are LaTeX aux files that would just take up space unnecessarily
/Documentation/Documentation.out
/Documentation/Documentation.synctex.gz
/Documentation/Documentation.toc
/Documentation/Documentation.aux
/Documentation/Documentation.log

# I consider the way R tries to save session data to be a terrible misfeature in any case,
# and avoid using this even on my own computer.
/.Rhistory
