Codebook.xlsx
/.Rhistory
/Data

/Documentation/Mathematical_details.aux
/Documentation/Mathematical_details.log
/Documentation/Mathematical_details.out
/Documentation/Mathematical_details.synctex.gz

/Documentation/What_is_the_code_doing?.log
/Documentation/What_is_the_code_doing?.synctex.gz
/Documentation/What_is_the_code_doing?.aux
/Documentation/What_is_the_code_doing?.out
